(TRANSFORM ?C 
           (INPUTS (Population 1)
                   (AvailableEnergy 1)
                   (Water 1)
                   (WasteRecycling 1)
                   (HousingWaste 10))
           (OUTPUTS (Population 1)
                    (WasteRecycling 1)
                    (Water 1)
                    (Electronics 1)
                    (Timber 1)
                    (MetallicElements 1)
                    (Landfill 6)))
