(TRANSFORM ?C 
           (INPUTS (Population 1)
                   (AvailableEnergy 1)
                   (RenewableEnergyProduction 1))
           (OUTPUTS (Population 1)
                    (RenewableEnergyProduction 1)
                    (AvailableEnergy 15)))
