(TRANSFORM ?C
           (INPUTS (AvailableLand 1)
                   (Population 5)
                   (Water 5)
                   (Timber 3)
                   (AvailableEnergy 5))
           (OUTPUTS (Farm 1)
                    (HousingWaste 1)
                    (Population 5)
                    (Water 4)))
