(TRANSFORM ?C 
           (INPUTS (Population 1)
                   (AvailableEnergy 1)
                   (Water 1)
                   (WasteRecycling 1)
                   (BuildingWaste 10))
           (OUTPUTS (Population 1)
                    (WasteRecycling 1)
                    (Water 1)
                    (Timber 2)
                    (Landfill 8)))
