(TRANSFORM ?C 
           (INPUTS (Population 1)
                   (AvailableEnergy 1)
                   (Water 1)
                   (Farm 1))
           (OUTPUTS (Population 1)
                    (Farm 1)
                    (Food 100)
                    (Water 1)
                    (FarmWaste 1)))
