(TRANSFORM ?C 
           (INPUTS (Population 1)
                   (AvailableEnergy 2)
                   (FossilFuelWaste 10)
                   (FossilWasteDisposal 1))
           (OUTPUTS (Population 1)
                    (FossilFuelWaste 10)
                    (FossilWasteDisposal 1)
                    (Landfill 1)))
