(TRANSFORM ?C 
           (INPUTS (Population 1)
                   (AvailableEnergy 1)
                   (Water 5)
                   (FossilEnergyProduction 1))
           (OUTPUTS (Population 1)
                    (FossilEnergyProduction 1)
                    (AvailableEnergy 21)
                    (FossilFuelEnergy 20)
                    (Water 5)
                    (FossilFuelWaste 1)))
