(TRANSFORM ?C 
           (INPUTS (Population 1)
                   (Timber 1)
                   (AvailableEnergy 2)
                   (Water 2))
           (OUTPUTS (Population 1)
                    (FoodRecycling 1)
                    (BuildingWaste 1)
                    (Water 2)))
