(TRANSFORM ?C 
           (INPUTS (Population 1)
                   (AvailableEnergy 3)
                   (Water 1)
                   (ElectronicsRecycling 1)
                   (ElectronicsWaste 10))
           (OUTPUTS (Population 1)
                    (WasteWater 1)
                    (ElectronicsRecycling 1)
                    (MetallicAlloys 3)
                    (Landfill 7)))
