(TRANSFORM ?C 
           (INPUTS (Population 1)
                   (AvailableEnergy 1)
                   (Landfill 500)
                   (AvailableLand 1)
                   (FossilFuelWaste 10)
                   (FossilWasteDisposal 1))
           (OUTPUTS (Population 1)))
