(TRANSFORM ?C 
           (INPUTS (Population 1)
                   (AvailableEnergy 1)
                   (WaterTreatment 1)
                   (Water 3)
                   (WasteWater 50))
           (OUTPUTS (Population 1)
                    (WaterTreatment 1)
                    (Water 52)))
