(TRANSFORM ?C 
           (INPUTS (Population 1)
                   (AvailableEnergy 1)
                   (Water 1)
                   (WasteRecycling 1)
                   (HousingWaste 10))
           (OUTPUTS (Population 1)
                    (WasteRecycling 1)
                    (Water 1)
                    (Electronics 3)
                    (Timber 3)
                    (MetallicElements 3)
                    (Landfill 1)))
