(TRANSFORM ?C 
           (INPUTS (Population 1)
                   (AvailableEnergy 1)
                   (Water 1)
                   (WasteRecycling 1)
                   (PopulationWaste 20))
           (OUTPUTS (Population 1)
                    (WasteRecycling 1)
                    (Water 1)
                    (AvailableEnergy 6)
                    (Landfill 1)))
