(TRANSFORM ?C 
           (INPUTS (Population 1)
                   (Timber 2)
                   (AvailableEnergy 2)
                   (Water 3)
                   (Electronics 1) )
           (OUTPUTS (Population 1)
                    (FossilWasteDisposal 1)
                    (BuildingWaste 1)
                    (Water 2)))
