(TRANSFORM ?C 
           (INPUTS (Population 1)
                   (Timber 2)
                   (AvailableEnergy 3)
                   (Water 3)
                   (Electronics 3) )
           (OUTPUTS (Population 1)
                    (RenewableEnergyProduction 1)
                    (BuildingWaste 1)
                    (Water 2)))
