(TRANSFORM ?C 
           (INPUTS (Population 1)
                   (AvailableEnergy 1)
                   (Water 1)
                   (FoodRecycling 1)
                   (FoodWaste 10))
           (OUTPUTS (Population 1)
                    (FoodRecycling 1)
                    (Food 9)
                    (Water 1)
                    (Landfill 1)))
