(TRANSFORM ?C 
           (INPUTS (Population 1)
                   (FossilEnergyProduction 1)
                   (AvailableEnergy 5)
                   (Water 4)
                   (Electronics 1) )
           (OUTPUTS (Population 1)
                    (Timber 1)
                    (Electronics 3)
                    (BuildingWaste 2)
                    (Water 2)))
